# VARIAVEIS

In [1]:
nome = 'Jeniffer'  # str
idade = 20 # int
endereco = 'rua teste'  # str
altura = 1.70  #float
variavel_verdade = True  # booleano

# CONSTANTES

In [5]:
PI = 3.14
E = 2.71

# OPERACOES

In [11]:
5 + 6

11

In [13]:
5 * 6

30

In [15]:
5 / 6

0.8333333333333334

# POTENCIA

In [17]:
4**2

16

# RESTO DIVISAO

In [21]:
4%2

0

In [23]:
6%5

1

In [25]:
6/5

1.2

# DIVISAO INTEIRA

In [27]:
6//5

1

# EXPRESSOES

In [33]:
6*3-9

9

In [35]:
7**3-78+34/5-(5//3)

270.8

# FLUXO CONDICIONAL

In [38]:
variavel1 = 45
if variavel1 < 50:
    print('É menor!')
else:
    print('É maior!')

É menor!

In [46]:
variavel2 = 67.88
if variavel2 == 50:
    print('É igual!')
else:
    print('É diferente!')

É diferente!

In [48]:
variavel3 = 67.88
if variavel2 != 67.88:
    print('É diferente!')
else:
    print('É igual!')

É igual!

In [52]:
print (variavel1)

45

In [56]:
if variavel1 == variavel2:
    print('são iguais')
elif variavel1 < variavel2:
    print ('1 é menor que 2')
else:
    print ('1 é maior que 2')

1 é menor que 2

In [59]:
# INSS

In [77]:
salario = float(input('Insira o salario bruto: '))

if salario <= 1412:
    inss = salario*0.075
elif salario > 1412 and salario <= 2666.68:
    inss = salario*0.09
    inss = inss - 21.18
elif salario > 2666.68 and salario <= 4000.03:
    inss = salario*0.12
    inss = inss - 101.18
else:
    inss = salario*0.14
    inss = inss - 181.18

print (f'O desconto do INSS é de {round(inss,2)} para o salario {salario:.2f}.')

Insira o salario bruto:  5000

O desconto do INSS é de 518.82 para o salario 5000.00.

# FLUXO REPETIÇÃO

In [ ]:
# FOR - WHILE

In [79]:
lista_de_nomes = ['Pedro', 'Rafael', 'Beatriz', 'Ana', 'Maria']

In [89]:
lista_de_nomes[3]

'Ana'

In [85]:
tamanho_da_lista = len(lista_de_nomes)

In [87]:
for i in range(tamanho_da_lista):
    print(lista_de_nomes[i])

Pedro
Rafael
Beatriz
Ana
Maria

In [81]:
for i in lista_de_nomes:
    print(i)

Pedro
Rafael
Beatriz
Ana
Maria

In [91]:
for i in range(2):
    print(lista_de_nomes[i])

Pedro
Rafael

In [93]:
for i in range(0,2):
    print(lista_de_nomes[i])

Pedro
Rafael

In [95]:
for i in range(0,2):
    print(lista_de_nomes[i].upper())

PEDRO
RAFAEL

In [97]:
for i in range(0,2):
    print(lista_de_nomes[i].lower())

pedro
rafael

In [99]:
print (lista_de_nomes)

['Pedro', 'Rafael', 'Beatriz', 'Ana', 'Maria']

# WHILE

In [108]:
lista_de_nomes = ['pedro', 'rafael', 'beatriz', 'ana', 'maria']

In [110]:
tamanho_da_lista = len(lista_de_nomes)

In [112]:
indice = 0
while indice < tamanho_da_lista:
    print(lista_de_nomes[indice].capitalize())
    #indice = indice + 1
    indice += 1

Pedro
Rafael
Beatriz
Ana
Maria

In [116]:
lista_valores = [3.2, 1.5, 8.7, 9.4, 23.5, 12.2, 0.58, 9.0]
tamanho_lista_valores = len(lista_valores)
for i in range(tamanho_lista_valores):
    lista_valores[i]**3 - lista_valores[i]**2

In [118]:
lista_valores = [3.2, 1.5, 8.7, 9.4, 23.5, 12.2, 0.58, 9.0]
tamanho_lista_valores = len(lista_valores)
for i in range(tamanho_lista_valores):
    lista_valores[i]**3 - lista_valores[i]**2

In [122]:
lista_valores = [3.2, 1.5, 8.7, 9.4, 23.5, 12.2, 0.58, 9.0]
tamanho_lista_valores = len(lista_valores)
lista_resultados = []
for i in range(tamanho_lista_valores):
    resultado = round(lista_valores[i]**3 - lista_valores[i]**2, 2)
    lista_resultados.append(resultado)
print(lista_resultados)

[22.53, 1.12, 582.81, 742.22, 12425.62, 1667.01, -0.14, 648.0]

# BUSCAR ELEMENTO

In [126]:
for i in range(len(lista_resultados)):
    if lista_resultados[i] == 1667.01:
        print(f'A posição do elemento na lista é: {i}')

A posição do elemento na lista é: 5

In [128]:
lista_resultados.index(1667.01)

5

# FUNCOES

In [3]:
def calcular_media(a, b, c, d):
    soma = a + b + c + d
    media = soma / 4
    return media

In [5]:
calcular_media(4,5,6,7)

5.5

In [7]:
media = calcular_media(4,5,6,7)

In [11]:
print(f'A media é {media}')

A media é 5.5

In [21]:
from Funcoes import calcular_inss

In [23]:
calcular_inss(3000)

NameError: name 'salario' is not defined

In [27]:
calcular_inss(3000)

NameError: name 'salario' is not defined

In [31]:
from Funcoes import calcular_inss

In [33]:
calcular_inss(3000)

NameError: name 'salario' is not defined

In [38]:
from Funcoes import calcular_inss

In [40]:
calcular_inss(3000)

NameError: name 'salario' is not defined

# usar funcoes em arquivos .py

In [9]:
from Funcoes import calcular_inss

In [11]:
calcular_inss(3000)

258.82

In [13]:
from Funcoes import calcular_inss, calcular_ir

In [15]:
calcular_inss(5500)

588.82

In [17]:
calcular_ir(5500)

454.57